body {
  background: url("./Image/web-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

@media (min-width: 1200px){
.container {
    max-width: 1190px !important;
}
}


/* NAVBAR */
.bg-nav {
  background-color: black;
}
.mynavbar {
  justify-content: center;
  font-size: large;
}

/* CONTENT */
.title {
  text-align: center;
  color: #fafafa;
  font-size: xxx-large;
  -webkit-text-stroke: 1.5px;
  font-family: sans-serif;
  text-shadow: 1px 4px 5px #000000;
  -webkit-text-stroke-color: black;
}

/* SEARCH BOX */
.input-shape {
  height: 2.5rem;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  background: #fafafa;
  color: black;
  font-size: medium;
  border: 1px solid black;
}
.search-box-body {
  color: white;
  display: flex;
  justify-content: end !important;
}
.button-search {
  height: 2.5rem;
  width: 2.5rem;
  background: lightgray;
  font-size: medium;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  border-left: none;
  cursor: pointer;
}
.button-search:hover {
  background: #62acb5;
}
form.search-box::after {
  content: "";
  clear: both;
  display: table;
}

/* INDEX TABLE */
.shadow {
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 17px 41px 27px rgb(0 0 0 / 46%);
}
/* head */
.table_title {
  text-align: center;
  font-size: medium;
  font-family: ui-serif;
}

/* body */
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle !important;
  border-top: 1px solid #dee2e6;
}
.table-body {
  text-align: left;
  font-size: medium;
  font-family: math;
  background-color: #fafafa;
}

/* INSERT DATA */
.form-display {
  display: flex;
  margin-bottom: 4rem;
  justify-content: center;
}
.insert-form-body {
  display: inline-flex;
  background-color: #fafafa;
  font-family: math;
  padding: 2rem 3rem;
  border-radius: 30px;
}
.td-space {
  padding: 0 1rem;
}

/* SELECT MAHASISWA */
.table-bodyMhs {
  text-align: center;
  font-size: medium;
  font-family: math;
  background-color: #fafafa;
}

/* SELECT JURUSAN */
.table-bodyJurusan {
  text-align: center;
  font-size: medium;
  font-family: math;
  background-color: #fafafa;
}

/* UPDATE */
.btn-form {
  margin-top: 10px;
  border-color: black;
  border-bottom-width: medium;
  border-radius: 10px;
}
